ul.nav li {
    padding-right:20px;
}
fa-icon {
    display: inline;
}

 a.nav-link{
    display:inline;
    width: 125px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer div.container {
    position: relative;
    margin-bottom: 25px;
}