<form novalidate [formGroup] = "loginForm" (ngSubmit)="handleSubmit()">

    <p style="text-align: center; margin-bottom: 25px; font-weight: bolder;">
        Login
    </p>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input placeholder="Email" id="email" formControlName="email" name="username" type="email" class="form-control" />
        <pre>
            {{ loginForm.controls['email'].touched | json }}
        </pre>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input id="password" formControlName="password" type="password" class="form-control" />
        <div>

        </div>
    </div>
    <div class="mb-3">
        <input type="checkbox" class="form-check-input">
        <label for="" class="form-check-label">Remember me</label>
    </div>
    <button class="btn btn-primary btn-block">Sign In</button>

    <br style="clear:both" />
    <span>
        Don't have an account? &nbsp; <a [routerLink]="'/register'">Create Account</a>
    </span>
</form>
<app-dashboard></app-dashboard>

