<div class="container">
    <div class="row">
      <div class="col-8">
        <h1>My Account</h1>
        <form class="row g-3">
            <fieldset class="row">
                <legend>User Information</legend>
                <div class="col-md-6">
                    <label class="form-label" style="text-align: left;">Username</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="col-md-6">
                    <label class="form-label" style="text-align: left;">Email</label>
                    <input type="email" class="form-control">
                  </div>
                  <div class="col-md-6">
                      <label class="form-label" style="text-align: left;">First Name</label>
                      <input type="text" class="form-control">
                  </div>
                    <div class="col-md-6">
                      <label class="form-label" style="text-align: left;">Last Name</label>
                      <input type="text" class="form-control">
                    </div> 
             </fieldset>
             <fieldset class="row">
                 <legend>Contact Information</legend>
                 <div class="col-12">
                     <label class="form-label" style="text-align: left;">Address</label>
                     <input type="text" class="form-control">
                 </div>
                 <div class="col-4">
                     <label class="form-label" style="text-align: left;">City</label>
                     <input type="text" class="form-control">
                 </div>
                 <div class="col-4">
                     <label class="form-label" style="text-align: left;">Country</label>
                     <input type="text" class="form-control">
                 </div>
                 <div class="col-4">
                    <label class="form-label" style="text-align: left;">Postal Code</label>
                    <input type="text" class="form-control">
                </div>
            </fieldset>
            <fieldset class="row">
                <legend>About Me</legend>
                <div class="col-12">
                    <textarea name="aboutMe" cols="30" rows="10"></textarea>
                </div>
            </fieldset>
          </form>
      </div>
      <div class="col-4">Image</div>
    </div>
  </div>
